* {
  font-family: "Montserrat", sans-serif;
  color: #f67280;
}

*::selection {
  background: white;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5c8c8;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f67280;
  width: 1px;
}

.flex-hor-center {
  justify-content: center;
}

.flex-ver-center {
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

header,
article {
  height: 100vh;
  border: none;
}

header {
  position: relative;
  background-color: #fbe8e8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.header-texts {
  box-sizing: border-box;
  padding-left: 5%;
}

.header-texts div {
  width: 80%;
}

.header-texts div h1,
.header-texts div h2,
.header-texts div p {
  margin: 0;
}

.header-texts h1 {
  font-size: 4vw;
  font-weight: 800;
  margin-bottom: 30%;
  text-shadow: 0px 3px 14px #f39798;
}

.header-texts h2 {
  font-size: 3vw;
  font-weight: 700;
}

.header-texts p {
  font-size: 2vw;
  font-weight: 600;
}

.header-texts p:nth-child(3) {
  font-size: 1.5vw;
  font-weight: 400;
}

.header-image img {
  width: 70%;
  object-fit: cover;
  object-position: center;
}

.circle-button {
  position: absolute;
  bottom: 2%;
  left: 48%;
  border-radius: 50%;
  display: block;
  border: none;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: #f67280;
  transition: 0.8s;
  box-shadow: 0px 0px 18px rgba(246, 114, 128, 0.616);
  cursor: pointer;
  animation: circle-button 0.9s infinite alternate;
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px 12px 12px 12px;
}

.circle-button:hover {
  background-color: #f65a69;
}

.circle-button img {
  width: 25px;
}

main {
  width: 100%;
  position: relative;
}

#wave {
  width: 100%;
  fill: #fbe8e8;
}

.my-projects{
  background-image: url("../assets/amy-projects.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:bottom;
}

.my-projects h1 {
  flex-basis: 100%;
  font-size: 3.2vw;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 20px;
}

.projects {
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 60%;
  right: 0;
}

.project {
  width: 14vw;
  margin: 3%;
  background-color: #fbe8e8;
  box-shadow: 0px 0px 2vw #fbc6c6;
}

.project img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  display: block;
  margin: auto;
}

.about{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.me-container{
  width: 60%;
  height: 60%;
  margin: auto;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0px 0px 2vw rgb(250, 224, 224);
}
.me-photo,
.me-contact{
  background-color: #FBE8E8;
}

.me-photo{
  height: 35%;
  object-fit: center;
}

.me-photo img{
  width: 40%;
  object-position: bottom;
  object-fit: contain;
}

.me-content{
  height: 55%;
}

.me-content div{
  width: 80%;
  height: 80%;
}

.me-content h2{
  font-size: 1.8vw;
  margin:0;
}
.me-content h2:nth-child(3){
  font-size: 1.6vw;
  margin: 2vh 0 1vh 0;
}

.me-content a{
  width: 90px;
  height: 30px;
  display: inline-block;
  background-color: #F67280;
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: 1px 2px 6px #F67280;
  margin: 0 10px 0 0;
}

.me-content a span{
  margin-top: 5%;
  color: #ffffff;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 100%;
}

.me-content p{
  font-size: 1vw;
  text-align: justify;
  line-height: 2.3vh;
  margin: 0;
}

.me-contact{
  height: 10%;
}

.about .image img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

footer{
  width: 100%;
  height: 30vh;
  background-color: #FBE8E8;
}

footer h1 {
  margin: 0;
  width: 100%;
  font-size: 1.5vw;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}



@keyframes circle-button {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
